.like-box {
    border: 1px solid aliceblue;
    border-radius: 6px;
    padding: 2%;
    box-shadow: 2px 4px #888888;
}
.like-img {
    border-radius: 50px;
    width: 15%;
    height: 10%;
}
.like-text {
    margin: 2%;
    padding: 0px 0px 0px 5px;
    font-size: 15px;
}