<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61367794172-g8ur3grf8jv3jt1eqit1o079ni778r5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61367794172-g8ur3grf8jv3jt1eqit1o079ni778r5s</string>
	<key>API_KEY</key>
	<string>AIzaSyBPJxA10JzEVVwSR570xw8ooCvMDfiY8lY</string>
	<key>GCM_SENDER_ID</key>
	<string>61367794172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greentable.app</string>
	<key>PROJECT_ID</key>
	<string>green-table-be253</string>
	<key>STORAGE_BUCKET</key>
	<string>green-table-be253.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61367794172:ios:4d2d87ae76bb75e946da79</string>
</dict>
</plist>