<ion-content class="page">
  <ion-grid>
    <ion-row>
      <img class="la-img" src=".././../assets/images/earth.jpg">
    </ion-row>
    <ion-row>
      <div class="time-box">
        <p class="tm-txt">6yrs 319days 20:28:45</p>
      </div>
    </ion-row>
    <ion-row>
      <div class="cl-txt">
        <p>Climate Clock</p>
      </div>
      <div>
        <div class="txt-blk">
          <p class="txt-blk-1">Save The Planet</p>
          <p class="txt-blk-2">while you can, encourage others to join and rewarded for the gift you got</p>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="google-box" routerLink="/welcome">
        <ion-icon name="logo-google" class="ggl-logo"></ion-icon>
        <p class="log-txt">LOGIN WITH GOOGLE</p>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="line"></div>
      </ion-col>
      <p>OR</p>
      <ion-col>
        <div class="line"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="apple-box" routerLink="/welcome">
        <ion-icon name="logo-apple" class="appl-logo"></ion-icon>
        <p class="apl-text">LOGIN WITH APPLE</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>