.Ag-img {
    width: 100% !important;
}
.page {
    --background: linear-gradient(204deg, #baf0a1, #d2f3ecf3, #b9e4b1f3, #b2e4dbf5) !important;
    padding: 0%;
}
.txt {
    font-weight: bold !important;
    font-size: 11px;
    position: relative;
    left: -5%;
    margin: 3%;
}
.images {
    zoom: 1;
}

.txt1 {
    font-weight: bold !important;
    font-size: 11px;
    position: relative;
    left: 4%;
}
.grn-coins {
    width: 50%;
    position: relative;
    left: 0px;
}
.like-div {
    margin: 2%;
}
.coin-blk {
    width: 145%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
    text-align: center;
    margin-left: -3%;
    padding: 3%;
}

.qrbtn {
    margin: 3%;
    padding-block-end: 0% !important;
}

.card {
    margin-top: 18% !important;
}

.card1 {
    margin-top: 8% !important;
}

.text {
    font-size: 12px !important;
    position: relative;
    right: 5px;
    font-weight: bold;
}

.avatar {
    font-weight: bold !important;
    font-size: 15px;
}

.flex-button {
    font-size: 17px;
    margin: 4px;
    color: #86888f;
    display: flex;
    justify-content: space-between !important;
}
.footer-icon {
    color: black;
}

.flx {
    display: flex;
    justify-content: space-between !important;
}
.strong {
    font-weight: bold;
    font-size: 14px;
    text-align: start;
    margin-top: 6%;
    // padding: 4%;
}
.crdname {
    margin-top: -38px;
    margin-right: -203px;
}

// .crdname{
//     font-size: 18px;
//     font-weight: bold;
//     margin-top: 26%;
//     display: flex;
//     position: relative;
//     right: 257%;
// }

// .crdname{
//     font-size: 18px;
//     font-weight: bold;
//     position: relative;
//     margin: -14%;
//     margin-top: 20%;
//     right: 188px !important;
//     text-transform: capitalize;
//     letter-spacing: 0px;
// }

.line {
    width: 100%;
    padding: 12px;
    // margin-top: 12%;
    height: 2px;
    background-color: rgba(14, 3, 3, 0.452);
    opacity: 1;
}

.heart {
    zoom: 1.3;
    margin-bottom: -3px;
}
.heart-count {
    --padding-top: 9px;
}
.comment {
    zoom: 1.3;
    margin-bottom: -3px;
}
.share {
    zoom: 1.3;
    margin-bottom: -3px;
}
// .lines {
//     width: 138%;
//     opacity: 0.2;
//     margin-right: 10px;
//     margin-top: 1px;
//     border: 1px solid darkgray;
// }
