<ion-header>
  <ion-toolbar class="page">
    <ion-buttons slot="start" (click)="logout()">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="qrbtn">
      <!-- <ion-button color="dark">
        <ion-icon slot="icon-only" name="qr-code-sharp"></ion-icon>
        <ion-label class="txt">QR Code</ion-label>
        <div class="txt"></div>
      </ion-button> -->
      <ion-tab-button tab="QR Code">
        <ion-label class="txt">QR Code</ion-label>
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="end" class="qrbtn">
      <!-- <ion-button color="dark">
        <ion-icon slot="icon-only" name="logo-bitcoin"></ion-icon>
        <ion-label class="txt">Green Coins</ion-label>
      </ion-button> -->
      <ion-tab-button tab="Green Coins">
        <img class="grn-coins" src="../../assets/images/Group 175@1X (1).png">
        <ion-label class="txt1">Green Coins</ion-label>
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/account">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="wallet"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<hr>

<ion-content>
  <ion-grid *ngIf="isuserData">
    <ion-row class="cn-block" *ngFor="let user of userdata">
      <ion-col size="9">
        <div class="coin-blk">
          <ion-avatar slot="start" class="images">
            <img *ngIf="user && !user.profilemedia" src=".././../assets/images/preeti.jpg">
            <img *ngIf="user && user.profilemedia" src="{{user.profilemedia}}">
            <div *ngIf="user && user.profilename">
              <p class="crdname"><b>{{user.profilename}}</b></p>
            </div>
            <div *ngIf="user && !user.profilename">
              <p class="crdname"><b>No Name</b></p>
            </div>
          </ion-avatar>
        </div>
        <div *ngIf="user && user.posttext">
          <p class="strong"><b>{{user.posttext}}</b></p>
        </div>
        <div *ngIf="user && !user.posttext">
          <p class="strong"><b>No caption</b></p>
        </div>
      </ion-col>
      <ion-col size="3">
        <ion-label *ngIf="user && user.UpdatedTime">
          <p class="update-time">{{user.UpdatedTime}}</p>
        </ion-label>
      </ion-col>
      <div>
        <img class="Ag-img" src=".././../assets/images/plants.jpg" *ngIf="user && !user.url">
        <img class="Ag-img" [src]="mediaUrl(user.url)" *ngIf="user && user.url">
      </div>
      <div class="like-div">
        <ion-icon name="heart-sharp" color="danger" class="heart" *ngIf="user && user.isSelfLike"
          (click)="addLike(user.id)">
        </ion-icon>
        <ion-icon name="heart-outline" class="heart" *ngIf="!user.isSelfLike" (click)="addLike(user.id)"></ion-icon>
        <ion-label *ngIf="user.likesData" class="heart-count">
          {{user.likesData.length}}
        </ion-label>
        <ion-label *ngIf="!user.likesData" class="heart-count"> 0</ion-label>
        &nbsp;
        <ion-icon name="chatbubble-ellipses-sharp" color="primary" class="comment"></ion-icon>
        <ion-label *ngIf="user.commentsData" (click)="showComments()">{{user.commentsData.length}}</ion-label>
        <ion-label *ngIf="!user.commentsData" (click)="showComments()"> 0</ion-label>
        &nbsp;
        <ion-icon name="arrow-redo-sharp" class="share"></ion-icon>
        <ion-label *ngIf="user.share">{{user.share}}</ion-label>
        <ion-label *ngIf="!user.share">32</ion-label>
        <!-- <ion-label *ngIf="user && user.UpdatedTime">{{user.UpdatedTime}}</ion-label> -->
      </div>
      <div class="like-div">
        <div *ngIf="!isshowComments && user.singleData">
          <div class="like-box">
            <div style="display: flex;" (click)="presentModal(user.likesData)">
              <img class="like-img" src="{{user.singleData.profileMedia}}">
              <p *ngIf="user.likesData.length > 1" class="like-text">{{user.singleData.profileName}} &
                {{user.likesData.length - 1}} Other Liked this Post</p>
              <p *ngIf="user.likesData.length === 1" class="like-text">{{user.singleData.profileName}} Liked this Post
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="like-div">
        <div *ngIf="isshowComments && user.commentsData">
          <div *ngFor="let com of user.commentsData">
            <div class="like-box" style="display: flex;">
              <img class="like-img" src="{{com.ownermedia}}" *ngIf="com && com.ownermedia">
              <div>
                <p class="comm-text">{{com.ownername}}</p>
                <div class="comment-box">
                  <p style="padding: 10px">{{com.commentText}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="line"></div>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isuserData">
    <div>
      <ion-row>
        <ion-col size="3">
          <ion-skeleton-text animated style="width: 70px; height: 70px; border-radius: 35px;"></ion-skeleton-text>
        </ion-col>
        <ion-col size="9" style="margin-top: 5%;">
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;  margin: 7% 0% 7% 0%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-skeleton-text animated style="width: 70%; margin: 2% 0% 2% 5%;"></ion-skeleton-text>
      </ion-row>
      <ion-row>
        <ion-skeleton-text animated style="width: 95%; height: 180px; margin: 4% 3% 0% 3%;"></ion-skeleton-text>
      </ion-row>
    </div>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/upload">
    <input #userInput style="position: absolute; width: 0; height: 0; opacity: 0" type="file"
      (change)="readSelectedFile($event)" class="fileInput">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon name="home-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/crop">
          <ion-icon name="search-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/account">
          <ion-icon name="wallet-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar  color="dark" slot="bottom">
        <ion-tab-button tab="radio">
          <ion-icon name="radio-button-on-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer> -->