.Ag-img {
    width: 100% !important;
}
.page {
    --background: linear-gradient(204deg, #baf0a1, #d2f3ecf3, #b9e4b1f3, #b2e4dbf5) !important;
    padding: 0%;
}
.txt {
    font-weight: bold !important;
    font-size: 11px;
    position: relative;
    left: -5%;
    margin: 3%;
}
.images {
    zoom: 1;
}

.txt1 {
    font-weight: bold !important;
    font-size: 11px;
    position: relative;
    left: 4%;
}
.grn-coins {
    width: 50%;
    position: relative;
    left: 0px;
}
.like-div {
    margin: 2%;
}
.coin-blk {
    width: 159%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
    text-align: center;
    margin-left: -3%;
    padding: 3%;
}
.qrbtn {
    margin: 3%;
    padding-block-end: 0% !important;
}

.card {
    margin-top: 18% !important;
}

.card1 {
    margin-top: 8% !important;
}

.text {
    font-size: 12px !important;
    position: relative;
    right: 5px;
    font-weight: bold;
}

.avatar {
    font-weight: bold !important;
    font-size: 15px;
}

.flex-button {
    font-size: 17px;
    margin: 4px;
    color: #86888f;
    display: flex;
    justify-content: space-between !important;
}
.footer-icon {
    color: black;
}

.flx {
    display: flex;
    justify-content: space-between !important;
}
.strong {
    font-weight: bold;
    font-size: 14px;
    text-align: start;
    margin-top: 6%;
    // padding: 4%;
}
.crdname {
    margin-top: -33px;
    margin-right: 35%;
}
.coin-time {
    margin-top: 4px;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 600;
}
.comment-div {
    padding: 10px;
    background: rgba(236, 240, 255, 0.7);
    border-radius: 10px;
}
.comminput {
    background: rgba(246, 247, 250, 1);
    border-radius: 25px;
    // height: 7%;
    margin: 5% 0 5% 0;
    width: 100%;
}
.comminput-2 {
    width: 76%;
    padding: 2%;
    border: none;
    margin: 1.5% 1% 1% 2%;
    outline: none;
}

// .crdname{
//     font-size: 18px;
//     font-weight: bold;
//     margin-top: 26%;
//     display: flex;
//     position: relative;
//     right: 257%;
// }

// .crdname{
//     font-size: 18px;
//     font-weight: bold;
//     position: relative;
//     margin: -14%;
//     margin-top: 20%;
//     right: 188px !important;
//     text-transform: capitalize;
//     letter-spacing: 0px;
// }

.line {
    width: 100%;
    padding: 12px;
    // margin-top: 12%;
    height: 2px;
    background-color: rgba(14, 3, 3, 0.452);
    opacity: 1;
}

.heart {
    zoom: 1.3;
    margin-bottom: -3px;
}
.heart-count {
    --padding-top: 9px;
}
.comm-text {
    width: 100%;
    margin: 4px;
}
.comment-box {
    border-left-style: solid;
}
.like-box {
    border: 1px solid aliceblue;
    border-radius: 6px;
    padding: 2%;
    box-shadow: 2px 4px #888888;
}
.like-img {
    border-radius: 50px;
    width: 10%;
    height: 10%;
}
.like-text {
    margin: 2%;
    padding: 3px;
}
.update-time {
    margin-top: 19%;
    font-size: 15px;
}
.like-div {
    position: relative;
    width: 100%;
}
.comment {
    zoom: 1.3;
    margin-bottom: -3px;
}
.share {
    zoom: 1.3;
    margin-bottom: -3px;
}
.addcard {
    width: 188%;
    margin-right: -74%;
}
.brdmessage {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 13%;
}
.seluser {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.65;
}
.custom-menu {
    position: relative;
    left: 11px;
    width: 80%;
}
.txt-com {
    position: relative;
    left: 10px;
}
