.Ag-img{
    width: 100% !important;
}
.page {
    --background: linear-gradient(204deg, #f8f8f8, #eef8f6f3, #bfe0b9f3, #c4f0e8f5) !important;
}
.txt{
    font-weight: bold !important;
    font-size: 10px;
}

.card{
    margin-top: 18% !important;
}

.card1{
    margin-top: 8% !important;
}

.text{
    font-size: 12px !important;
    position: relative;
    right: 5px;
    font-weight: bold;
}

.avatar{
    font-weight: bold !important;
    font-size: 15px;
}

.flex-button{
    font-size: 17px;
    margin: 4px;
    color: #86888f;
    display: flex;
    justify-content: space-between !important;
}

.flx{
    display: flex;
    justify-content: space-between !important;
}
