<ion-header>
  <ion-toolbar class="page">
    <ion-buttons slot="start" (click)="logout()">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="qrbtn">
      <!-- <ion-button color="dark">
        <ion-icon slot="icon-only" name="qr-code-sharp"></ion-icon>
        <ion-label class="txt">QR Code</ion-label>
        <div class="txt"></div>
      </ion-button> -->
      <ion-tab-button tab="QR Code">
        <ion-label class="txt">QR Code</ion-label>
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="end" class="qrbtn">
      <!-- <ion-button color="dark">
        <ion-icon slot="icon-only" name="logo-bitcoin"></ion-icon>
        <ion-label class="txt">Green Coins</ion-label>
      </ion-button> -->
      <ion-tab-button tab="Green Coins">
        <img class="grn-coins" src="../../assets/images/Group 175@1X (1).png">
        <ion-label class="txt1">Green Coins</ion-label>
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/account">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="wallet"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<hr>

<ion-content>
  <ion-grid *ngIf="isuserData">
    <ion-row class="cn-block" *ngFor="let user of userdata">
      <ion-col size="9">
        <!-- <div class="lines"></div> -->
        <div class="coin-blk">
          <ion-avatar slot="start">
           <img src=".././../assets/images/preeti.jpg">
            <!-- <img src="{{user.profilemedia}}"> -->
          </ion-avatar>
          <!-- <div class="lines"></div> -->
        </div>
        <div>
          <p class="strong"><b>{{user.posttext}}</b></p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p class="crdname"><b>{{user.profilename}}</b></p>
        </div>
      </ion-col>
      <div>
        <img class="Ag-img" src=".././../assets/images/roads.png" *ngIf="!user.url">
        <img class="Ag-img" src="{{user.url}}" *ngIf="user.url">
      </div>
      <div>
        <!-- <div>
          <p>{{user.likes}}</p>
          <p>{{comments}}</p>
          <p>{{share}}</p>
        </div> -->
        <ion-icon name="heart-sharp"></ion-icon>
        <!-- <ion-label>13k</ion-label> -->
        <ion-label *ngIf="user.likes">{{user.likes}}</ion-label>
        <ion-label *ngIf="!user.likes">13k</ion-label>
        &nbsp;
        <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
        <ion-label *ngIf="user.comments">{{user.comments}}</ion-label>
        <ion-label *ngIf="!user.comments">13k</ion-label>
        &nbsp;
        <ion-icon name="arrow-redo-sharp"></ion-icon>
        <ion-label *ngIf="user.share">{{user.share}}</ion-label>
        <ion-label *ngIf="!user.share">13k</ion-label>
      </div>
      <div class="line"></div>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isuserData">
    <div>
      <ion-row>
        <ion-col size="3">
          <ion-skeleton-text animated style="width: 70px; height: 70px; border-radius: 35px;"></ion-skeleton-text>
        </ion-col>
        <ion-col size="9" style="margin-top: 5%;">
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;  margin: 7% 0% 7% 0%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-skeleton-text animated style="width: 70%; margin: 2% 0% 2% 5%;"></ion-skeleton-text>
      </ion-row>
      <ion-row>
        <ion-skeleton-text animated style="width: 95%; height: 180px; margin: 4% 3% 0% 3%;"></ion-skeleton-text>
      </ion-row>
    </div>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon name="home-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon name="search-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/account">
          <ion-icon name="wallet-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar  color="dark" slot="bottom">
        <ion-tab-button tab="radio">
          <ion-icon name="radio-button-on-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer> -->