#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.heading {
  color: rgb(99, 177, 99);
}
.la-img {
  width: 38%;
}
.page {
  // --background: linear-gradient(204deg, #ebf7f5, #baeee5f3, #80ecdaf3, #73dac8f5) !important;
  --background: linear-gradient(204deg, #edf5f3, #dfeeebf3, #a5d8b0f3, #aee2b2f5) !important;
}
