.back-icon {
    zoom: 2;
}
.menu-icon {
    zoom: 2;
    float: right;
}
.user-img {
    zoom: 5;
}
.profile {
    height: 79px !important;
    width: 79px !important;
}
.pro-circle {
    display: flex;
    margin: 1% 0 0 6%;
    border-radius: 50%;
}
.txt {
    margin: 3%;
}
.cn-block {
    margin: -3% 0 -3% 0;
}
.footer-icon {
    color: black;
}
.line {
    width: 100%;
    padding: 9px;
    // margin-top: 12%;
    height: 2px;
    background-color: darkseagreen;
    opacity: 1;
}
.scn {
    display: flex;
    width: 83%;
    margin-left: 13%;
    align-items: center;
    // margin-top: -5%;
}
.scn-icn {
    zoom: 2;
    margin: 3%;
}
.vrt-line {
    width: 1px;
    height: 62px;
    opacity: 0.7;
    margin-right: 10px;
    margin-top: 7px;
    border: 1px solid darkgray;
}
.line-2 {
    width: 100%;
    padding: 16px;
    margin-top: 5%;
    height: 2px;
    background-color: darkseagreen;
    opacity: 1;
}
.grn-coin {
    width: 67%;
}
.coin-blk {
    display: flex;
}
.coin-content {
    width: 20%;
    text-align: center;
    margin-top: 14px;
    margin-left: -3%;
}
.coin-text {
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
}
.coin-time {
    margin-top: 4px;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 600;
}
.trans-text {
    position: relative;
    margin-top: -8px;
    // margin: -2.5% 0 0 0;
    font-weight: 600;
}
.crd-coin-txt {
    float: right;
    opacity: 0.7;
}
.grn-coins {
    width: 12%;
}
.head-txt {
    display: flex;
}
.txt-cn {
    margin: 2%;
    opacity: 0.7;
    font-weight: 600;
    font-size: 18px;
}
.month{
    position: relative;
    left: 18px;
}
.frdimg{
    max-width: 47% !important;
    margin: 4%;
    border: 0;
}
.Redeem{
    text-align: center;
    padding: 10px;
    // position: relative;
    // left: 77px
}
.button {
    background-color:  #8ec08f;;
    border-radius: 21px !important;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    display: flex;
    width: 47%;
    margin-left: 51%;
    margin-top: -38%;
    font-size: 15px;
}
.screen{
    width: 100%;
    text-align: center !important;
    // border: 0;
    // position: relative;
    // left: 48px;
    margin-bottom: -2%;
}
// @media (max-width: 768px) {
//     .txt {
//         margin-left: -12%;
//     }
// }
