<ion-header>
  <ion-toolbar>
    <div>
      <ion-icon name="arrow-back-outline" class="back-icon" (click)="back()"></ion-icon>
      <ion-icon name="ellipsis-vertical" class="menu-icon"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid [fixed]="true">
    <ion-row *ngIf="userDetails">
      <ion-col size="3">
        <!-- <div class="pro-circle">
          <ion-icon name="person-circle-outline" class="user-img"></ion-icon>
        </div> -->
        <!-- <ion-avatar class="profile"> -->
        <!-- <ion-icon name="person-circle-outline" class="user-img"></ion-icon> -->
        <ion-img class="pro-circle" *ngIf="userInfo && userInfo.profilemedia" src="{{userInfo.profilemedia}}"></ion-img>
        <!-- </ion-avatar> -->
      </ion-col>
      <ion-col size="9">
        <div>
          <p *ngIf="userInfo && userInfo.firstname" class="txt"><b>{{userInfo.firstname}}</b></p>
          <!-- <p class="txt">{{userInfo.email}}</p> -->
          <div class="head-txt">
            <img class="grn-coins" src="../../assets/images/green-coin.png">
            <p class="txt-cn">50 Credits earned</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="screen">
      <img src="../../assets/images/screen4.png">
    </div>
    <ion-row>
      <div class="line"></div>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="scn">
          <ion-icon name="scan" class="scn-icn"></ion-icon> &nbsp;
          <p> Scan QR Code</p>
        </div>
      </ion-col>
      <div class="vrt-line"></div>
      <ion-col>
        <div class="scn">
          <ion-icon name="cloud-upload" class="scn-icn"></ion-icon> &nbsp;
          <p> Upload QR Code</p>
        </div>
      </ion-col>
    </ion-row>
    <div class="Redeem">
      <img src="../../assets/images/Group 186@1X.png">
    </div>
    <ion-row>
      <div class="line-2">
        <p class="trans-text">Transaction History</p>
      </div>
      <div>
        <p class="month"><b>Februrary 2021</b></p>
      </div>
    </ion-row>
    <ion-row class="cn-block" *ngFor="let coin of coinData">
      <ion-col size="9">
        <div class="coin-blk">
          <div class="coin-content">
            <img class="grn-coin" src="../../assets/images/green-coin.png">
          </div>
          <div>
            <p class="coin-text">Coins Added in Green Wallet</p>
            <!-- <p class="coin-time" *ngIf="coin && coin.time">{{coin.time | date: 'dd/MM/yyyy'}}</p> -->
          </div>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <p class="crd-coin-txt" *ngIf="coin && coin.coins">+{{coin.coins}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-row>
        <div class="frdimg">
          <img src="../../assets/images/friends.png">
        </div>
        <div class="button">
          <p>Invite Your Friends to Earn More</p>
        </div>
      </ion-row>
    </ion-col>
    <!-- <ion-col>
      <ion-row>
        <div class="button">
          <p>Invite Your Friends to Earn More</p>
        </div>
      </ion-row>
    </ion-col> -->
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/welcome">
          <ion-icon name="home-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="search">
          <ion-icon name="search-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="wallet">
          <ion-icon name="wallet-sharp" class="footer-icon"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>