.back-icon {
    zoom: 2;
}
.menu-icon {
    zoom: 2;
    float: right;
}
.user-img {
    zoom: 5;
}
.pro-circle {
    height: 79px;
    width: 79px;
    display: flex;
    margin: 1% 0 0 6%;
    border-radius: 50%;
    background: cadetblue;
}
.txt {
    margin: 3%;
}
.cn-block {
    margin: -3% 0 -3% 0;
}
.footer-icon {
    color: black;
}
.line {
    width: 100%;
    padding: 12px;
    // margin-top: 12%;
    height: 2px;
    background-color: darkseagreen;
    opacity: 1;
}
.scn {
    display: flex;
    width: 83%;
    margin-left: 13%;
    align-items: center;
    margin-top: -5%;
}
.scn-icn {
    zoom: 2;
    margin: 3%;
}
.vrt-line {
    width: 1px;
    height: 44px;
    opacity: 0.7;
    margin-right: 10px;
    margin-top: 7px;
    border: 1px solid darkgray;
}
.line-2 {
    width: 100%;
    padding: 16px;
    margin-top: 5%;
    height: 2px;
    background-color: darkseagreen;
    opacity: 1;
}
.grn-coin {
    width: 67%;
}
.coin-blk {
    display: flex;
}
.coin-content {
    width: 19%;
    text-align: center;
    margin-top: 6%;
    margin-left: -3%;
}
.coin-text {
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
}
.coin-time {
    margin-top: 4px;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 600;
}
.trans-text {
    position: relative;
    margin: -2.5% 0 0 0;
    font-weight: 600;
}
.crd-coin-txt {
    float: right;
    opacity: 0.7;
}
.grn-coins {
    width: 12%;
}
.head-txt {
    display: flex;
}
.txt-cn {
    margin: 2%;
    opacity: 0.7;
    font-weight: 600;
    font-size: 18px;
}
